
.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/*** Conditional css ***/

.visited {
    background-color: red;
}

.flag-container{
    width: 100px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}